{% extends '_base.html' %}

{% block meta %}
<title>Holocure Editor</title>
{% endblock meta %}

{% block content %}
<main class="container mx-auto flex justify-center flex-row">
    <div class="flex items-center flex-col h-screen">
        <h1 class="text-5xl font-bold"><span class="text-blue-400">Holo</span><span class="text-pink-400">Cure</span></h1>
        <p class="font-mono font-bold text-xl">Save data editor</p>
    </div>
    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
</main>
{% endblock content %}